<button type="button" class="btn btn-secondary">vendre</button>
<p class="text-center">
  <strong>{{ pokemon.name }}</strong>
</p>
<p class="text-center">{{ pokemon.type }}</p>
<figure>
  <img class="rounded mx-auto d-block" [src]="getPokemonImageUrl()" />
</figure>
<table class="table">
  <tr>
    <td>PV:</td>
    <td>{{ pokemon.stats.hp }}</td>
  </tr>
  <tr>
    <td>Défense:</td>
    <td>{{ pokemon.stats.defense }}</td>
  </tr>
  <tr>
    <td>Attaque:</td>
    <td>{{ pokemon.stats.attack }}</td>
  </tr>
  <tr>
    <td>Vitesse:</td>
    <td>{{ pokemon.stats.speed }}</td>
  </tr>
</table>
