<nav class="navbar navbar-light bg-light justify-content-between">
  <img
    routerLink="/"
    src="https://lostin70s.com/lpwebfront/static/pokeapp/assets/pokemon.png"
    alt="logo"
    style="width:200px"
  />
  <button type="button" class="btn btn-secondary" routerLink="/deck">Boutique</button>
  <button type="button" class="btn btn-secondary" routerLink="/boutique">Boutique</button>
  <p>Solde : PK</p>
  <button type="button" class="btn btn-secondary">Delete and Logout</button>
  <p>Bonjour</p>
</nav>
