<app-navbar></app-navbar>
<div class="cardContainer">
  <img
    src="https://lostin70s.com/lpwebfront/static/pokeapp/assets/booster.png"
    (click)="open = true"
  />
  <div class="cardListContainer" *ngIf="open">
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
    <app-pokemon></app-pokemon>
  </div>

  <div *ngFor="let pokemon of boosters">
    <app-pokemon [pokemon]></app-pokemon>
  </div>
</div>
